@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Spray+Paint&display=swap');

/* font-family: 'Prosto One', cursive; 
font-family: 'Black Ops One', cursive;
font-family: 'Titan One', cursive;
*/


.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(191, 255, 225);
    overflow-y: auto;
}

.container .logo {
    padding-top: 1rem;
    width: calc(80%);
    min-height: 30vh;
    height: fit-content;
    margin: 0 10% 4rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .logo img {
    width: 20rem;
}

.container .logo p {
    font-size: 1.6rem;
    font-family: 'Prosto One', cursive;
    font-weight: bold;
    letter-spacing: .3rem;
    text-align: justify;
    margin-left: 5rem;
}

.container .logo p a,
.container .logo p span {
    text-decoration: none;
    font-style: italic;
    font-weight: 800;
    font-family: 'Prosto One', cursive;
    color: blue;
    cursor: pointer;
}

.info {
    height: fit-content;
    width: 100%;
}

.info .source-code,
.result {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .source-code a {
    height: 4rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 73, 73);
    color: rgb(0, 242, 255);
    font-size: 2rem;
    padding: 0 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    text-decoration: none;
}

.info .source-code a img {
    width: 3rem;
    height:3rem;
    margin-left: 1rem;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4REM;
    margin-bottom: 4REM;
}

table {
    width: 50rem;
}

table tr {
    background: rgb(255, 255, 255);
    border: 0;
    overflow: hidden;
    box-shadow: 0 0 1rem black;

}

table tr th {
    font-size: 4rem;
    width: fit-content;
    margin: 0 1%;
    font-weight: 500;
    letter-spacing: .3rem;
font-family: 'Black Ops One', cursive;
font-style: normal;
font-weight: 900;

}

table tr td {
    font-size: 5rem;
    width: fit-content;
    margin: 0 1%;
    color: rgb(0, 27, 161);
font-family: 'Black Ops One', cursive;
font-style: normal;
font-weight: 900;
    ;
    letter-spacing: .5rem;
    padding-left: 1rem;
    ;
}

.result h1 {
    font-size: 3rem;
}



@media screen and (max-width:1000px) {
    .container .logo {
        width: calc(90%);
        margin: 0 5% 4rem 5%;

    }
}

@media screen and (max-width:800px) {
    .container .logo p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:650px) {
    .container .logo {
        flex-direction: column;
    }

    .container .logo img {
        width: 15rem;
        margin-bottom: 1rem;
    }

    .container .logo p {
        font-size: 1.2rem;
        margin-left: 0;
    }

    table {
        width: 98%;
    }

    table tr th {
        font-size: 3rem;
    }

    table tr td {
        font-size: 3.5rem;
    }
}

@media screen and (max-width:310px) {
    .container .logo p {
        font-size: 1rem;
    }

    table tr th {
        font-size: 1.5rem;
    }

    table tr td {
        font-size: 2rem;
    }

    .info .source-code a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:200px) {
    .container .logo img {
        width: 10rem;
        margin-bottom: 1rem;
    }

    .container .logo p {
        display: none;
    }

    table,
    tr {
        display: flex;
        flex-direction: column;
        width: 98%;
        margin: 0 1%;
    }

    tr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table tr th {
        font-size: .8rem;
        margin: .5rem 0;
    }

    table tr td {
        font-size: 1rem;
        margin: .5rem 0;
        padding: 0;

    }

    .info .source-code a {
        font-size: 1rem;
    }

    .result h1 {
        font-size: 2rem;
    }

    .info .source-code a img {
        width: 2rem;
    }
}

@media screen and (max-width:100px) {
    .container .logo img {
        width: 5rem;
    }
    table tr th {
        font-size: .6rem;
    }

    table tr td {
        font-size: .75rem;
    }
    .info .source-code a img {
       display: none;
    }

    .result h1 {
        font-size: 1rem;
    }
}